.skills{
  &__title{
      position: relative;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    z-index: 1;
        &:before{
            content:"";
            position: absolute;
            width: 23px;
            height: 23px;
            background: #0095B7;
            border: 3px solid #fff;;
            border-radius:100%;
            top:0px;
            right: -53px;
            z-index: -1;

        }
    
  }
  &__left{
       width: 502px;
       padding-right: 36px;
       text-align: right;
       border-right:4px solid #fff;
       &-items{
           display: flex;
        //    justify-content: space-between;
           margin-top: 26px;
           flex-wrap: wrap;
           column-gap: 25px;
           row-gap: 25px;
       }
       &-item{
        border: 1px solid #0095B7;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 10px;
        color: #fff
       }
   } 
}